<section class="content-header"></section>

<section class="content">
  <section class="invoice">
    <form novalidate [formGroup]="orderForm">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <em class="fa fa-shopping-cart"></em> Finalize o seu pedido
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus dados:</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <span
            class="help-block pull-right has-error-block"
            *ngIf="orderForm.hasError('emailsNotMatch')"
          >
            <em class="fa fa-remove"></em>
            E-mails não conferem
          </span>
        </div>
        <div class="col-sm-6 col-xs-12">
          <app-input-container
            errorMessage="Campo obrigatório e com 5 caracteres"
            label="Nome"
          >
            <input
              class="form-control"
              name="name"
              formControlName="name"
              placeholder="Nome"
              autocomplete="off"
            />
          </app-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <app-input-container errorMessage="E-mail inválido" label="E-mail">
            <input
              class="form-control"
              name="email"
              formControlName="email"
              placeholder="E-mail"
              autocomplete="off"
              type="email"
            />
          </app-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <app-input-container
            errorMessage="E-mail inválido"
            label="Confirme seu e-mail"
          >
            <input
              class="form-control"
              name="emailConfirmation"
              formControlName="emailConfirmation"
              placeholder="Confime seu e-mail"
              autocomplete="off"
              type="email"
            />
          </app-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <app-input-container
            errorMessage="Campo obrigatório e com 5 caracteres"
            label="Endereço"
          >
            <input
              class="form-control"
              name="address"
              formControlName="address"
              placeholder="Endereço"
              autocomplete="off"
            />
          </app-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <app-input-container
            errorMessage="Obrigatório e somente números"
            label="Number"
          >
            <input
              class="form-control"
              name="addressNumber"
              formControlName="addressNumber"
              placeholder="Número"
              autocomplete="off"
              pattern="^[0-9]*$"
            />
          </app-input-container>
        </div>
        <div class="col-sm-3 col-xs-6">
          <app-input-container label="Complemento">
            <input
              class="form-control"
              placeholder="Complemento"
              name="optionalAddress"
              formControlName="optionalAddress"
              autocomplete="off"
            />
          </app-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <app-order-itens
          [items]="cartItems()"
          (decreaseQtd)="decreaseQtd($event)"
          (increaseQtd)="increaseQtd($event)"
          (remove)="remove($event)"
        ></app-order-itens>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>
          <div class="form-group">
            <app-radio
              [options]="paymentOptions"
              name="paymentOption"
              formControlName="paymentOption"
              required
            ></app-radio>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <app-delivery-costs
            [delivery]="delivery"
            [itemsValue]="itemsValue()"
          ></app-delivery-costs>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-xs-12">
        <button
          class="btn btn-success pull-right"
          [disabled]="!orderForm.valid || cartItems().length === 0"
          (click)="finishOrder(orderForm.value)"
        >
          <em class="fa fa-credit-card"></em>
          Concluir Pedido
        </button>
      </div>
    </div>
  </section>
</section>
