<a [routerLink]="['/restaurants', restaurant.id]">
  <div class="place-info-box">
    <span class="place-info-box-icon">
      <img [src]="restaurant.imagePath" [alt]="restaurant.name" />
    </span>

    <div class="place-info-box-content">
      <div class="top">
        <span class="place-info-box-text">
          {{ restaurant.name }}
        </span>
        <span class="place-info-box-star">
          <em class="fa fa-star"></em>
          {{ restaurant.rating }}
        </span>
      </div>
      <div class="place-info-box-detail">{{ restaurant.category }}</div>
      <div class="place-info-box-detail">{{ restaurant.deliveryEstimate }}</div>
    </div>
  </div>
</a>
